<div class="flex items-center justify-between py-5 px-6">
  <i
    routerLink="/start"
    class="fa-solid fa-xmark text-3xl text-gray-400 cursor-pointer"
  ></i>
  <app-button
    routerLink="/sign-up"
    text="Đăng ký"
    [fontSize]="16"
    [padding]="'10px 30px'"
    [bgButton]="'rgb(243 244 246)'"
    [textColor]="'rgb(14 165 233)'"
    edge="rgb(156 163 175)"
  ></app-button>
</div>
<div class="w-[380px] text-center mx-auto">
  <div class="text-3xl font-bold mb-6">Đăng nhập</div>
  <form [formGroup]="form" class="flex flex-col gap-y-3 mb-5">
    <div class="input">
      <input formControlName="username" type="text" placeholder="Tài khoản" />
    </div>
    <div class="input flex items-center justify-between">
      <input
        formControlName="password"
        type="password"
        placeholder="Mật khẩu"
      />
      <span
        routerLink="/forgot-pw"
        class="font-semibold text-gray-400 hover:opacity-50 cursor-pointer"
        >Quên?</span
      >
    </div>
  </form>
  <app-button
    [disabled]="!form.valid"
    (click)="login()"
    text="Đăng nhập"
    padding="8px 10px"
    width="380px"
    bgButton="#1cb0f6"
    edge="#1899d6"
  ></app-button>
  <div class="my-5 flex items-center">
    <span class="h-[1.5px] bg-gray-300 w-full"></span>
    <span class="text-gray-300 font-semibold text-base mx-2">Hoặc</span>
    <span class="h-[1.5px] bg-gray-300 w-full"></span>
  </div>
  <div class="grid grid-cols-2">
    <app-button
      text="Facebook"
      [fontSize]="16"
      [padding]="'10px 30px'"
      [bgButton]="'rgb(243 244 246)'"
      [textColor]="'#3b5998'"
      [prefix]="fb"
      edge="#e5e5e5"
    ></app-button>
    <app-button
      text="Google"
      [fontSize]="16"
      [padding]="'10px 30px'"
      [bgButton]="'rgb(243 244 246)'"
      [textColor]="'#3b5998'"
      [prefix]="gg"
      edge="#e5e5e5"
    ></app-button>
  </div>
</div>
<ng-template #fb>
  <i class="fa-brands fa-facebook-f text-[#3b5998]"></i>
</ng-template>
<ng-template #gg>
  <i class="fa-brands fa-google text-[#3b5998]"></i>
</ng-template>
