<app-header text="Chi tiết khóa học"></app-header>
<div class="p-3">
  <div class="mb-3">Ảnh khóa học</div>
  <div
    *ngIf="image"
    class="border border-solid border-gray-400 w-24 h-24 flex items-center justify-center rounded-md image"
  >
    <img class="rounded-md" [src]="image" width="100%" height="100%" alt="" />
    <i
      (click)="removeImage()"
      class="fa-solid fa-circle-xmark text-lg image-cancel"
    ></i>
  </div>
  <app-upload-image
    *ngIf="!image"
    (change$)="onChange($event)"
  ></app-upload-image>
  <form
    nz-form
    [nzLayout]="'vertical'"
    [formGroup]="form"
    style="margin-top: 9px"
  >
    <nz-form-item>
      <nz-form-label nzRequired>Tên khóa học</nz-form-label>
      <nz-form-control nzErrorTip="Trường này là bắt buộc">
        <input
          nz-input
          formControlName="name"
          placeholder="Nhập tên khóa học"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Mô tả khóa học</nz-form-label>
      <nz-form-control nzErrorTip="Trường này là bắt buộc">
        <textarea
          nz-input
          formControlName="description"
          placeholder="Nhập mô tả khóa học"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div class="my-3">
    <div class="mb-2">Các chương học</div>
    <button (click)="addChapter()" nz-button nzType="primary" class="mb-3">
      Thêm chương học
    </button>
    <ng-container *ngIf="course">
      <div class="flex items-center gap-x-3">
        <div
          *ngFor="let chapter of course.chapterList; index as i"
          class="flex items-center"
          (click)="detailChapter()"
          [routerLink]="['/main/manage-course/chapter', chapter.id]"
        >
          <div class="border-hover chapter max-w-[200px] flex flex-col">
            <div
              class="text-xl mt-2 line-clamp-4 overflow-hidden max-h-[120px]"
            >
              {{ chapter.title }}
            </div>
            <div
              class="font-semibold text-2xl my-2 rounded-full w-10 h-10 flex items-center justify-center bg-blue-500 text-white"
            >
              {{ i + 1 }}
            </div>
            <div class="text-gray-400 line-clamp-2">{{ chapter.subTile }}</div>
            <div
              (click)="removeChapter(chapter.id); $event.stopPropagation()"
              class="chapter-remove text-lg"
            >
              <i class="fa-solid fa-circle-xmark"></i>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="text-end">
    <button nz-button nzType="default" (click)="cancel()" class="mr-3">
      Hủy
    </button>
    <button nz-button nzType="primary" (click)="submitForm()">Lưu</button>
  </div>
</div>
