<div
  class="px-10 py-3 bg-[#1cb0f6] text-white flex items-center justify-between"
>
  <span class="text-2xl font-semibold">math4fun</span>
  <app-button
    routerLink="/login"
    text="Đăng nhập"
    padding="8px 10px"
    width="150px"
    bgButton="white"
    edge="rgb(142 216 251)"
    textColor="rgb(11 62 113)"
  ></app-button>
</div>
<div class="w-[380px] text-center mx-auto mt-24">
  <div class="text-3xl font-bold mb-2">Quên mật khẩu</div>
  <div class="mb-2 text-base">
    Chúng tôi sẽ gửi mã OTP xác thực vào hòm thư email cho bạn
  </div>
  <div class="flex flex-col gap-y-3 mb-5">
    <div class="input">
      <input type="text" placeholder="Email" [(ngModel)]="email" />
    </div>
  </div>
  <app-button
    (click)="forgotPw()"
    text="Gửi"
    padding="8px 10px"
    width="380px"
    bgButton="#1cb0f6"
    edge="#1899d6"
  ></app-button>
</div>
