<app-header text="Thêm mới câu hỏi tự động"></app-header>
<div class="flex flex-col gap-y-3 mt-5">
  <form [formGroup]="form" nz-form nzLayout="vertical" (ngSubmit)="onAdd()">
    <nz-form-item>
      <nz-form-label nzRequired>Kiểu câu hỏi</nz-form-label>
      <nz-form-control nzErrorTip="Trường này là bắt buộc">
        <nz-select
          class="w-fit"
          nzPlaceHolder="Chọn kiểu câu hỏi"
          style="width: 200px !important"
          formControlName="typeQuestion"
        >
          <nz-option
            *ngFor="let option of questionType"
            [nzValue]="option.value"
            [nzLabel]="option.text"
          ></nz-option>
        </nz-select>
        <div
          *ngIf="
            form.get('typeQuestion')?.invalid &&
            form.get('typeQuestion')?.touched
          "
          class="text-red-500"
        >
          This field is required
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Nội dung</nz-form-label>
      <nz-form-control>
        <textarea
          placeholder="Nhập nội dung"
          style="margin-top: 8px !important"
          rows="2"
          nz-input
          formControlName="content"
          class="!max-w-3xl"
        ></textarea>
      </nz-form-control>
      <div
        *ngIf="form.get('content')?.invalid && form.get('content')?.touched"
        class="text-red-500"
      >
        This field is required
      </div>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Số lượng câu hỏi</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          placeholder="Nhập số lượng câu hỏi"
          formControlName="totalQuestions"
          type="number"
          class="max-w-3xl"
        />
        <div
          *ngIf="
            form.get('totalQuestions')?.invalid &&
            form.get('totalQuestions')?.touched
          "
          class="text-red-500"
        >
          This field is required
        </div>
      </nz-form-control>
    </nz-form-item>
    <button
      [disabled]="isLoading"
      type="submit"
      nz-button
      nzType="primary"
      class="mt-2"
    >
      <i *ngIf="isLoading" class="fa-solid fa-spinner animate-spin mr-2"></i>
      <i *ngIf="!isLoading" class="fa-solid fa-circle-plus mr-2"></i>
      <span *ngIf="!isLoading">Tạo câu hỏi</span>
      <span *ngIf="isLoading">Đang tạo câu hỏi</span>
    </button>
  </form>
</div>
