<button [disabled]="disabled" class="button-82-pushable" role="button">
  <span class="button-82-shadow"></span>
  <span
    [ngStyle]="{ background: edge ? edge : '' }"
    class="button-82-edge"
  ></span>
  <span
    [ngStyle]="{
      background: bgButton ? bgButton : '',
      width: width,
      padding: padding ? padding : ''
    }"
    class="button-82-front text"
  >
    <div class="flex items-center gap-x-3">
      <ng-container [ngTemplateOutlet]="prefix"></ng-container>
      <span
        class="w-full font-semibold"
        [ngStyle]="{
          'font-size': fontSize ? fontSize + 'px' : '',
          color: textColor ? textColor : ''
        }"
        >{{ text }}</span
      >
    </div>
  </span>
</button>
