<div *ngIf="!isSelected" class="grid grid-cols-4 w-full mt-10 px-3">
  <ng-container
    class="col-span-1"
    *ngFor="let item of manageList"
    [ngTemplateOutlet]="manageItem"
    [ngTemplateOutletContext]="{ $implicit: item }"
  >
  </ng-container>
</div>
<ng-template #manageItem let-item>
  <div
    (click)="isSelected = true"
    [routerLink]="item.routerLink"
    class="hover:bg-[#f7f7f7] rounded-xl cursor-pointer text-center py-3 px-6 hover:border-[2px] hover:border-solid hover:border-[#84d8ff] hover:text-[#1cb0f6] flex flex-col items-center"
  >
    <img class="w-36" [src]="item.icon" alt="" />
    <div class="text-2xl mt-2">{{ item.text }}</div>
  </div>
</ng-template>
<div *ngIf="isSelected" class="px-3">
  <router-outlet></router-outlet>
</div>
