<div class="flex items-center justify-between py-3 px-6">
  <i
    routerLink="/start"
    class="fa-solid fa-xmark text-3xl text-gray-400 cursor-pointer"
  ></i>
  <app-button
    routerLink="/login"
    text="Đăng nhập"
    [fontSize]="16"
    [padding]="'10px 30px'"
    [bgButton]="'rgb(243 244 246)'"
    [textColor]="'rgb(14 165 233)'"
    edge="rgb(156 163 175)"
  ></app-button>
</div>
<div class="w-[380px] text-center mx-auto">
  <div class="text-3xl font-bold mb-6">Tạo hồ sơ</div>
  <form [formGroup]="form" class="flex flex-col gap-y-3 mb-5">
    <div class="input">
      <input formControlName="fullname" type="text" placeholder="Tên" />
    </div>
    <div class="input">
      <input
        formControlName="dob"
        name="date"
        type="text"
        onfocus="(this.type='date')"
        onblur="if(!this.value)this.type='text'"
        placeholder="Ngày sinh"
      />
    </div>
    <div class="input">
      <input formControlName="email" type="email" placeholder="Email" />
    </div>
    <div class="input">
      <input
        formControlName="username"
        type="text"
        placeholder="Tên đăng nhập"
      />
    </div>
    <div class="input">
      <input
        formControlName="password"
        type="password"
        placeholder="Mật khẩu"
      />
    </div>
    <div class="input">
      <input
        formControlName="repw"
        type="password"
        placeholder="Nhập lại mật khẩu"
      />
    </div>
  </form>
  <app-button
    (click)="signIn()"
    text="Tạo tài khoản"
    padding="8px 10px"
    width="380px"
    bgButton="#1cb0f6"
    edge="#1899d6"
  ></app-button>
</div>
