<div class="px-4 py-7 border-r-2 border-gray-200 h-full">
  <div class="text-green-500 font-bold text-3xl mb-8">Math4Fun</div>
  <div *ngFor="let sidebar of listSidebar" class="flex flex-col">
    <ng-container
      [ngTemplateOutlet]="sidebarDetail"
      [ngTemplateOutletContext]="{ $implicit: sidebar }"
    ></ng-container>
  </div>
  <div class="relative view">
    <div
      class="py-3 px-4 flex items-center mb-3 hover:bg-[#f7f7f7] rounded-xl cursor-pointer"
    >
      <img
        width="32px"
        height="32px"
        class="mr-5"
        src="./../../../../../assets/icons/ic-dots.svg"
        alt=""
      />
      <div class="uppercase font-bold">Xem thêm</div>
    </div>
    <div
      class="absolute right-[-100px] left-[80%] top-[30%] bg-white border-[2px] border-solid py-2 rounded-md min-w-[200px] view-option z-10"
    >
      <div
        (click)="logout()"
        class="hover:bg-[#f7f7f7] px-3 text-lg cursor-pointer"
      >
        Đăng xuất
      </div>
    </div>
  </div>
</div>
<ng-template #sidebarDetail let-sidebar>
  <div
    [routerLink]="sidebar.routerLink"
    routerLinkActive="active"
    class="py-3 px-4 flex items-center mb-3 hover:bg-[#f7f7f7] rounded-xl cursor-pointer"
  >
    <img
      *ngIf="!sidebar.type"
      width="32px"
      height="32px"
      [src]="sidebar.icon"
      alt=""
      class="mr-5"
    />
    <img
      *ngIf="sidebar.type === 'avatar'"
      [src]="sidebar.icon"
      alt=""
      class="mr-5 w-[32px] h-[32px] object-contain rounded-full bg-white"
    />
    <div class="uppercase font-bold">{{ sidebar.text }}</div>
  </div>
</ng-template>
