<app-header text="Chi tiết bài học"></app-header>
<div class="p-3">
  <form
    nz-form
    [nzLayout]="'vertical'"
    [formGroup]="form"
    style="margin-top: 9px"
  >
    <nz-form-item>
      <nz-form-label nzRequired>Tên bài học</nz-form-label>
      <nz-form-control nzErrorTip="Trường này là bắt buộc">
        <input
          nz-input
          formControlName="title"
          placeholder="Nhập tên bài học"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Số kinh nghiệm thưởng</nz-form-label>
      <nz-form-control nzErrorTip="Trường này là bắt buộc">
        <input
          type="number"
          nz-input
          formControlName="expGained"
          placeholder="Nhập số kinh nghiệm thưởng"
          min="0"
        />
      </nz-form-control>
    </nz-form-item>
  </form>
  <div>
    <div>Các câu hỏi:</div>
    <button nz-button nzType="primary" class="mt-2" (click)="addQuestion()">
      <i class="fa-solid fa-circle-plus mr-2"></i>
      <span>Tạo câu hỏi mới</span>
    </button>
    <button
      nz-button
      nzType="primary"
      class="mt-2 ml-4"
      (click)="addQuestionAI()"
    >
      <i class="fa-brands fa-slack mr-2"></i>
      <span>Tự động tạo câu hỏi</span>
    </button>
    <div class="flex items-stretch gap-3 mt-3 flex-wrap" *ngIf="lesson">
      <div
        *ngFor="let question of lesson.questionList; index as i"
        class="flex items-center"
        (click)="detailQuestion(question)"
      >
        <div class="border-hover question">
          <div class="text-xl mt-2">Câu hỏi {{ i + 1 }}</div>
          <ng-container>
            <div *ngIf="question.type === QuestionType.chooseAnswer">
              Câu hỏi - lựa chọn
            </div>
            <div *ngIf="question.type === QuestionType.choosePair">
              Chọn cặp phù hợp
            </div>
            <div *ngIf="question.type === QuestionType.chooseToBlank">
              Chọn đáp án vào chỗ trống
            </div>
            <div *ngIf="question.type === QuestionType.typeToBlank">
              Điền số vào chỗ trống
            </div>
          </ng-container>
          <ng-container *ngIf="question.isAiGen">
            <div class="flex items-center gap-x-1 italic text-green-500">
              <i class="fa-brands fa-slack mr-2"></i>
              <div>Câu hỏi tự động</div>
            </div>
          </ng-container>
          <div
            (click)="removeQuestion(question.id!); $event.stopPropagation()"
            class="question-remove text-lg"
          >
            <i class="fa-solid fa-circle-xmark"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 gap-x-3 flex justify-end items-center">
    <button nz-button nzType="default" (click)="cancel()">Hủy</button>
    <button nz-button nzType="primary" (click)="submitForm()">Lưu</button>
  </div>
</div>
