.answer-button {
  border-radius: 10px;
  padding: 12px 12px;
  border: solid 2px #e5e5e5;
  border-bottom: solid 4px #e5e5e5;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.answer-button:hover {
  background-color: #f7f7f7;
}

.answer-button-index {
  border-radius: 8px;
  border: solid 2px #e5e5e5;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afafaf;
}
