@import "./../course-add/course-add.component.scss";
.chapter {
  position: relative;
  &-remove {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    display: none;
  }
  &:hover {
    .chapter-remove {
      display: block;
    }
  }
}
