<div class="px-3 mt-7">
  <div class="text-2xl font-semibold">Các khóa học trên Math4Fun</div>
  <div class="flex items-center mt-5 gap-3">
    <ng-container *ngIf="listAllCourse.length > 0; else emptyContainer">
      <div
        (click)="selectCourse(i)"
        *ngFor="let course of listAllCourse; index as i"
        class="relative"
      >
        <div *ngIf="course.isRegisted" class="absolute right-2 top-2">
          <i class="fa-solid fa-square-check text-primary text-2xl"></i>
        </div>
        <div class="border-hover w-[200px]">
          <img [src]="course.image" alt="" />
          <div class="text-xl font-medium mt-2">
            {{ course.name }}
          </div>
          <div>{{ course.totalMember || 0 }} người học</div>
        </div>
        <div *ngIf="isShowStartCourse[i]" class="h-6 mt-3 text-center">
          <app-button
            text="Bắt đầu khóa học"
            padding="4px 8px"
            width="150px"
            bgButton="#1cb0f6"
            edge="#1899d6"
            [fontSize]="14"
            (click)="register(course.id)"
          >
          </app-button>
        </div>
        <div *ngIf="!isShowStartCourse[i]" class="h-6 mt-3"></div>
      </div>
    </ng-container>
    <ng-template #emptyContainer>
      <div class="text-lg">Hệ thống chưa có khóa học nào</div>
    </ng-template>
  </div>
</div>
